@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  outline: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 50px;
}

main {
  max-width: 750px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume {
  display: flex;
  padding: 10px 0;
  gap: 40px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.resume > div {
  display: flex;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

.newItem {
  display: flex;
  gap: 20px;
  align-items: end;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.divDesc, .divType, .divAmount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newItem > button {
  background-color: #2C73D2;
  color: white;
  border: none;
  padding: 0 15px;
  border-radius: 15px;
  cursor: pointer;
  height: 34px;
}

input, select {
  padding: 5px;
  border-radius: 15px;
}

.divTable {
  width: 100%;
  display: flex;
  justify-content: center;
}

table {
  width: 98%;
  padding: 20px 0;
  border-radius: 5px;
}

th {
  text-align: start;
  border-bottom: inset;
  padding-bottom: 5px;
}

i {
  font-size: 25px;
}

.bxs-chevron-up-circle {
  color: #00c9a7c7;
}

.bxs-chevron-down-circle {
  color: #b32e22b7;
}

.columnAction {
  width: 40px;
  text-align: center;
}

.columnAction > button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.columnAmount {
  width: 30%;
}

.columnType {
  width: 80px;
  text-align: center;
}